
.centered {
  align-self: center;
  justify-self: center;
}

.centered-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.fill {
  display: flex;
  flex: 1;
  overflow: auto;

  &.no-scroll,
  &.overflow {
    overflow: unset;
  }
}

.row {
  display: flex;
  flex-direction: row;
}
